[submodule "Sgl/libs/GLFW"]
	path = Sgl/libs/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Sgl/libs/glm"]
	path = Sgl/libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "Sgl/libs/spdlog"]
	path = Sgl/libs/spdlog
	url = https://github.com/gabime/spdlog.git
